html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#section-home {
  display: grid;
  grid-template-columns: 200px 1fr;
}

#section-info {
  width: 100%;
  padding: 0;
}

#section-center {
  height: calc(100vh - 200px);
  width: 100%;
}

.sidebar {
  height: 100vh;
  padding: 10px 5px;
  width: 100%;
  text-align: left;
}

#nav-homer a {
  text-align: left;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  color: #000;
}

.news {
  margin-top: 20px;
}

.sucesso {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
