.section {
  padding: 1rem 4rem;
}

.breve-info {
  max-width: 70%;
}
.breve-info h1 {
  font-size: 3rem;
}
.breve-desc {
  text-align: justify;
}
.imagem-sobre {
  max-height: 100%;
}
#breve-info .card {
  height: 100%;
  border: none;
}
.mais_detalhes_content {
  display: flex;
  gap: 10px;
}
.mais_detalhes_item {
  flex: 1;
}
.mais_detalhes_item div {
  background-color: antiquewhite;
}
#tecnologias {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
#tecnologias i {
  font-size: 2rem;
  border: 2px solid gray;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.4s;

  width: 56px;
  height: 56px;
}
#tecnologias i:hover {
  border: 2px solid rgb(0, 61, 173);

  background-color: rgb(0, 204, 255);
}

/* @media (max-width: 1020px) {
  #dev {
    display: grid !important;
    grid-template-columns: 1fr !important;
  }
  #card-body {
    width: 100% !important;
  }
} */
