/* Estilos comuns */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  display: block;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.container-recupera-senha {
  max-width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
}

.formulario-recupera-senha {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: a auto;
}
.formulario-recupera-senha h2 {
  text-align: center;
  font-size: 3rem;
}
.formulario-inputs-recupera-senha {
  max-width: 500px;
  margin: 0 auto;
}
.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.formulario-inputs-recupera-senha .col {
  margin-bottom: 10px;
}

.formulario-inputs-recupera-senha input[type="email"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.formulario-inputs-recupera-senha #btn {
  text-align: center;
}

.formulario-inputs-recupera-senha button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.formulario-inputs-recupera-senha a {
  padding: 7px 20px;
  background-color: #1da1f2;
  opacity: 0.8;
}
.formulario-inputs-recupera-senha a:hover {
  opacity: 1;
}
.formulario-inputs-recupera-senha button[type="submit"]:hover {
  background-color: #0056b3;
}

.formulario-inputs-recupera-senha span.error {
  color: red;
  margin-top: 5px;
}
.imagem-lateral-recupera-senha {
  background-color: #066cda;
  height: 100%;
}
.imagem-lateral-recupera-senha img {
  max-width: 100%;
  height: auto;
}

/* Estilos para dispositivos móveis */
@media (max-width: 767px) {
  .container-recupera-senha {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formulario-recupera-senha {
    margin-bottom: 20px;
  }
}

/* Estilos para dispositivos maiores */
@media (min-width: 768px) {
  .container-recupera-senha {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .formulario-recupera-senha {
    grid-column: 1;
  }

  .imagem-lateral-recupera-senha {
    grid-column: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
