* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
}

.content-index {
  height: 100vh;
  width: 100%;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
}

.banner {
  background-color: #1da1f2;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-info {
  padding: 5rem 1rem;
}

.communicationItem {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  margin: 48px auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.formulario {
  width: 70%;
  margin: 1rem auto;
  padding: 10px;
}
#entrar {
  margin-bottom: 2rem;
}
.formulario-inputs {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  align-items: center;
  gap: 0 20px;
}
.text-ganger {
  color: rgb(255, 5, 5);
}
.formulario input,
.formulario button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
#senha-perdida {
  margin-top: 5px;
}

#senha-perdida a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

#senha-perdida a:hover {
  text-decoration: underline;
}
.btn-inscreva-se:hover {
  background-color: #0056b3;
}
h1 {
  display: block;
  font-size: 2em;
  width: 60%;
  margin: 2rem 0;
}
.title {
  color: #1da1f2;
  font-size: 27px;
  line-height: 32px;
}
.subtitle {
  color: #14171a;
  font-size: 18px;
  line-height: 24px;
  /* margin: 16px auto; */
  margin-bottom: 2rem;
}
.formulario button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
.btn-inscreva-se {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
}
/* PAINEL --MANTERRRRRRRRRR */
#section-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  /* height: calc(100vh - 90px); */
  grid-template-columns: 200px 1fr;
}
@media (max-width: 700px) {
  #section-container {
    grid-template-columns: 1fr;
  }
}

#section-info {
  width: 100%;
  padding: 0;
}

#section-center {
  height: calc(100vh - 200px);
  width: 100%;
}

/* .sidebar {
  padding: 10px 5px;
  width: 100%;
  text-align: left;
}

#nav-homer a {
  text-align: left;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  color: #000;
} */

.news {
  margin-top: 20px;
}

/* CONSULTAR DENUNCIAS */

.d-flex.flex-wrap {
  justify-content: space-between;
}

.card-consultar-chamado .card {
  width: calc(50% - 1rem);
  /* Duas colunas, com 1rem de espaço entre elas */
  margin-bottom: 1rem;
}

@media (max-width: 992px) {
  .sidebar.collapsed {
    width: 72px;
  }

  .sidebar .nav-item .nav-link {
    display: none;
  }

  .sidebar .nav-item .nav-link:first-child {
    display: block;
  }

  .sidebar.collapsed .nav-item .nav-link:first-child {
    display: none;
  }

  .sidebar.collapsed .nav-item .nav-link {
    display: block;
    text-align: center;
  }

  .sidebar.collapsed .navbar-toggler-icon {
    transform: rotate(-90deg);
  }

  .card-consultar-chamado .card {
    width: 100%;
    /* Uma coluna em telas menores */
  }
}

@media (max-width: 940px) {
  .container-grid {
    grid-template-columns: 1fr;
  }

  /* .formulario {
    width: 90%;
    padding: 5px;
  } */

  .communicationItem {
    font-size: 1rem;
    line-height: 20px;
    margin: 20px auto;
  }
  h1 {
    width: 100%;
  }
  .title {
    font-size: 1.2rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }
  .formulario-inputs {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .banner-info {
    padding: 2rem 1rem;
  }

  .communicationItem {
    font-size: 14px;
    line-height: 22px;
    margin: 28px auto;
  }

  .title,
  .subtitle {
    font-size: 1.2rem;
  }
}
@media (max-width: 767.98px) {
  #sidebar {
    height: auto;
    /* Definimos a altura para automática em telas menores */
  }
}
